<%- include('../layouts/header.ejs') %>
<body>
   


    <div class="body-wrapper">
        <!-- mobile menu start -->
        <%- include('../layouts/mobileMenu.ejs') %>
        <!-- moboli menu ending -->


        <!-- header section start -->
        <%- include('../layouts/nav.ejs') %>
        <!-- header section ending -->
        <!-- page header section ending here -->


		<!-- header section ending -->


		<!-- page header section start here -->
		<section class="page-header">
			<div class="page-header-area">
				<div class="container">
					<div class="page-header-content">
						<div class="page-header-title">
							<h2 style=" font-family: intgral;">OUR PRODUCTS</h2>
						
						</div>
					
					</div>
				</div>
			</div>
		</section>
		<!-- page header section ending here -->

		
		<!-- Shop Page Section start here -->		            
		<section class="shop-page padding-tb">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-12 sticky-widget">
						<div class="shop-title d-flex flex-wrap justify-content-between">
							<p><%=products.length%> products</p>
							<div class="product-view-mode">
								<a class="active" data-target="grid"><i class="fas fa-th"></i></a>
								<a data-target="list"><i class="fas fa-list"></i></a>
							</div>
						</div>
						<div class="shop-product-wrap grid row">
							<% for(let i=0;i<products.length;i++){ %>
								<div class="col-lg-4 col-md-6 col-12">
								<div class="product-item">
									<div  style="border-radius: 20px; cursor: pointer;" class="product-thumb">
										<img onclick="changeCont(this,'<%=i%>')" data-det='<%=products[i]%>' class="view-modal" data-target="#quick_view" id="img<%=i%>" src="<%=products[i].img%>" alt="seae | Sustainable Products for Export to Arab Emirates SEAE ">
										<!-- <div class="product-action-link">
											<a ><i class="far fa-eye"></i></a>
											<a href="#"><i class="far fa-heart"></i></a>
											<a href="#"><i class="fas fa-cart-plus"></i></a>
										</div> -->
									</div>
									<div class="product-content">
										<h5 style="font-family: intgral;"><a  id="name<%=i%>"><%=products[i].name%></a></h5>
										<p>
											<!-- <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> -->
										</p>
										<h6 id="price<%=i%>">                               <a onclick="changeCont(this,'<%=i%>')" data-det='<%=products[i]%>'  data-target="#quick_view"    class="custom-btn view-modal" style="font-family: Dm; color: white; cursor: pointer;">Buy Now </a></h6>
									</div>
								</div>
								<div class="product-list-item">
									<div style="border-radius: 20px; cursor: pointer;" class="product-thumb">
										<img onclick="changeCont(this,'<%=i%>')" data-det='<%=products[i]%>' class="view-modal" data-target="#quick_view" src="<%=products[i].img%>" alt="seae | Sustainable Products for Export to Arab Emirates SEAE ">
										<!-- <div class="product-action-link">
											<a onclick="changeCont('<%=products[i]%>')" class="view-modal" data-target="#quick_view"><i class="far fa-eye"></i></a>
											<a href="#"><i class="far fa-heart"></i></a>
											<a href="#"><i class="fas fa-cart-plus"></i></a>
										</div> -->
									</div>
									<div class="product-content">
										<h5 onclick="changeCont(this,'<%=i%>')" data-det='<%=products[i]%>' class="view-modal" data-target="#quick_view"><a ><%=products[i].name%></a></h5>
										<!-- <p>
											<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
										</p> -->
										<h6>
											<a onclick="changeCont(this,'<%=i%>')" data-det='<%=products[i]%>'  data-target="#quick_view" class="custom-btn view-modal" style="font-family: Dm; color: white; cursor: pointer;">Buy Now </a>
										</h6>
										<p id="description<%=i%>">
											<%=products[i].description%>
										</p>
									</div>
								</div>
							</div>
						
							<% } %>
						</div>
						<div style="    backdrop-filter: blur(9px);
    background: #0000007d;" class="modal" id="quick_view">
							<div style="border-radius: 50px;" class="modal-dialog modal-lg modal-dialog-centered">
								<div style="border-radius: 50px;" class="modal-content">
									<button type="button" class="close" data-dismiss="modal"><i class="fas fa-window-close"></i></button>
									<div class="modal-body">
										<div class="product-details-inner">
											<div class="row">
												<div class="col-lg-5 col-12">
													<div class="popup-slide">
														<div style="border-radius: 20px;" class="thumb">
															<img style="border-radius: 10px;" id="img" src="/images/shope/01.jpg" alt="seae | Sustainable Products for Export to Arab Emirates SEAE ">
														</div>
														
													</div>
												</div>
												<div class="col-lg-7">
													<div class="product-content">
														<h5><a id="name" href="#">Product Title Here</a></h5>
														<p>
															<!-- <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> -->
														</p>
														<h6 id="price">
															$200
														</h6>
														<p id="description">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
															tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
															quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
														</p>
													</div>
													<div class="cart-button">
														<!-- <div class="cart-plus-minus">
															<div class="dec qtybutton">-</div>
															<input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
															<div class="inc qtybutton">+</div>
														</div> -->
														<a href="https://wa.me/c/971565907311" style="border-radius: 15px;" class="custom-btn">UAE shop <i class="fas fa-cart"></i></a>
														<a href="https://wa.me/c/918489643999" style="border-radius: 15px;" class="custom-btn">INDIA shop <i class="fas fa-cart"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

<script>
	function changeCont(e,i){
		const getName=document.getElementById(`name${i}`);
		const getprice=document.getElementById(`price${i}`);
		const getimg=document.getElementById(`img${i}`);
		const getdescription=document.getElementById(`description${i}`);
		const img=document.getElementById("img");
		const price=document.getElementById("price");
		const name=document.getElementById("name");
		const description=document.getElementById("description");
		img.src=getimg.src;
		name.textContent=getName.textContent;
		price.textContent=getprice.textContent;
		description.textContent=getdescription.textContent;


		
	}
</script>

						<!-- <div class="pagination-area d-flex flex-wrap justify-content-center">
							<ul class="pagination d-flex flex-wrap m-0">
								<li class="prev">
									<a href="#"><i class="fas fa-angle-double-left"></i></a>
								</li>
								<li><a href="#">1</a></li>
								<li><a href="#"  class="active d-none d-md-block">2</a></li>
								<li><a href="#" class="d-none d-md-block">3</a></li>
								<li><a href="#" class="dot">....</a></li>
								<li><a href="#" class="d-none d-md-block">4</a></li>
								<li class="next">
									<a href="#"><i class="fas fa-angle-double-right"></i></a>
								</li>
							</ul>
						</div> -->
					</div>

					<!-- <div class="col-lg-3 col-12 sticky-widget">
						<div class="sidebar-widget">
							<div class="widget-search">
								<h4>Search Keyword</h4>
								<form action="https://aminurislam.com/labartisan/envishare-demo/envishare/action">
									<input type="text" placeholder="Search Here..." name="s">
									<button type="submit"><i class="fas fa-search"></i></button>
								</form>
							</div>
							<div class="shop-widget">
								<div class="widget-title">
									<h4>Post Category</h4>
								</div>
								<div class="widget-wrapper">
									<ul class="shop-menu">
										<li>
											<a href="#0">Butter</a>
											<ul class="shop-submenu">
												<li><a href="#">Butter 1</a></li>
												<li><a href="#">Butter 2</a></li>
												<li><a href="#">Butter 3</a></li>
											</ul>
										</li>
										<li><a href="#0">Cheese</a>
											<ul class="shop-submenu">
												<li><a href="#">Cheese 1</a></li>
											</ul>
										</li>
										<li><a href="#0">Ice Cream</a>
											<ul class="shop-submenu">
												<li><a href="#">Ice Cream 1</a></li>
												<li><a href="#">Ice Cream 2</a></li>
											</ul>
										</li>
										<li><a href="#0">Milk</a>
											<ul class="shop-submenu">
												<li><a href="#">Milk 1</a></li>
												<li><a href="#">Milk 2</a></li>
												<li><a href="#">Milk 3</a></li>
												<li><a href="#">Milk 4</a></li>
												<li><a href="#">Milk 5</a></li>
											</ul>
										</li>
										<li><a href="#0">Uncategorized</a>
											<ul class="shop-submenu">
												<li><a href="#">Uncategorized 1</a></li>
												<li><a href="#">Uncategorized 2</a></li>
											</ul>
										</li>
										<li><a href="#0">Yoghurt</a>
											<ul class="shop-submenu">
												<li><a href="#">Yoghurt 1</a></li>
												<li><a href="#">Yoghurt 2</a></li>
												<li><a href="#">Yoghurt 3</a></li>
											</ul>
										</li>
										<li><a href="#0">Cream</a>
											<ul class="shop-submenu">
												<li><a href="#">Cream 1</a></li>
												<li><a href="#">Cream 2</a></li>
												<li><a href="#">Cream 3</a></li>
												<li><a href="#">Cream 4</a></li>
												<li><a href="#">Cream 5</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
							<div class="letest-product">
								<div class="widget-title">
									<h4>Latests Products</h4>
								</div>
								<div class="widget-wrapper">
									<ul>
										<li>
											<div class="product-thumb">
												<img src="/images/shope/01.jpg" alt="shope">
											</div>
											<div class="product-content">
												<h6><a href="#">Product Text Here</a></h6>
												<p>
													<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
												</p>
												<h6>$200</h6>
											</div>
										</li>
										<li>
											<div class="product-thumb">
												<img src="/images/shope/02.jpg" alt="shope">
											</div>
											<div class="product-content">
												<h6><a href="#">Product Text Here</a></h6>
												<p>
													<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
												</p>
												<h6>$200</h6>
											</div>
										</li>
										<li>
											<div class="product-thumb">
												<img src="/images/shope/03.jpg" alt="shope">
											</div>
											<div class="product-content">
												<h6><a href="#">Product Text Here</a></h6>
												<p>
													<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
												</p>
												<h6>$200</h6>
											</div>
										</li>
										<li>
											<div class="product-thumb">
												<img src="/images/shope/04.jpg" alt="shope">
											</div>
											<div class="product-content">
												<h6><a href="#">Product Text Here</a></h6>
												<p>
													<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
												</p>
												<h6>$200</h6>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div> -->
				</div>
				
				
			</div>
		</section>
		<!-- Shop Page Section ending here -->

		  <!-- testimonial section start here -->
		  <%- include('../layouts/testimonial.ejs') %>
		  <!-- testimonial section ending -->

        <!-- footer section start here -->
        <%- include('../layouts/footer.ejs') %>
        <!-- footer section end here -->
    </div>

    <!-- scroll to top -->
    <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <!-- scroll to top -->
	<script type="application/ld+json">
		{
		  "@context": "http://schema.org",
		  "@type": "Organization",
		  "name": "SEAE - Sustainable Exports to Arab Emirates",
		  "url": "https://seae.ae",
		  "logo": "https://seae.ae/images/logo/New Project 180 [4BBDC2C].png",
		  "contactPoint": {
			"@type": "ContactPoint",
			"telephone": "+971-555-5555",
			"contactType": "Customer Service"
		  },
		  "address": {
			"@type": "PostalAddress",
			"streetAddress": "Business Bay",
			"addressLocality": "Dubai",
			"addressRegion": "UAE",
			"postalCode": "12345",
			"addressCountry": "AE"
		  },
		  "description": "SEAE specializes in sustainable exports to the Arab Emirates, offering eco-friendly and high-quality products tailored for the UAE market."
		}
		</script>



    
    <script src="/js/jquery.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/fontawesome.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/lightcase.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/progress.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/map-custom.js"></script>
    <script src='/js/slick.min.js'></script>
    <script src="/js/theia-sticky-sidebar.js"></script>
    <script src="/js/functions.js"></script>
</body>


</html>